.header.header-logo
    .header-container
        .header-left
            a(href="http://bankexfoundation.org/")
                img(src='images/logos/bankex-foundation-lo.png')
                .header-text BANKEX Foundation Alliance