#alliance.main-tutorial.intro
    .scrollme.introduction
        .bg
            .container(get-content='alliance.md')
                .title
                hr
                .description
                a.page-scroll(href='#form', data-offset='65')
                    .text-center
                        .arrow-down.bounce