footer {
  padding-top: 75px;
  padding-bottom: 90px;
  background-color: #202326;

  .copyright {
    color: #525252;
    margin-top: 35px;
    font-size: 12px;
    font-weight: 300;
  }

  .title {
    margin-bottom: 14px;
    color: #525252;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
  }

  input {
    padding: 10px 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.33;
    width: 75%;
    outline: none;
  }

  .send {
    display: inline-block;
    padding-left: 25px;
    border: none;
    background: transparent;
    outline: none;

    svg {
      margin-bottom: -3px;
    }
  }

  a {
    color: #00b700;
    text-decoration: none;

    &:hover {
      color: #00b700;
      text-decoration: none !important;
    }
  }

  ul.links {
    padding: 0 !important;
    color: #525252;
    margin-top: 35px;
    font-size: 12px;
    margin-left: 15px;
  }

  ul.menu-items {
    padding: 0 !important;
    margin: 0;

    li {
      list-style-type: none;
      margin-bottom: 10px;

      a {
        font-size: 14px;
        line-height: 1.55;
        font-weight: 300;
        color: #fff;

        &:hover {
          color: #fff !important;
        }
      }
    }
  }

  .social-links {
    margin-top: 30px;

    .social-links-item {
      display: inline-block;
      margin-right: 6px;
    }
  }

  @media screen and (max-width: 1200px) {
    .title {
      font-size: 14px;
    }

    .copyright {
      font-size: 12px;
    }

    ul.menu-items li a {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 640px) {
    .title {
      font-size: 12px;
    }

    .copyright {
      font-size: 12px;
    }

    ul.menu-items li a {
      font-size: 12px;
    }

    input {
      font-size: 14px;
    }
  }
}





