#contact-us.main-content
    .container
        .row
            .col-md-5
                .title Contact Us
                .description
                    a(href='mailto:info@bankexfoundation.org') info@bankexfoundation.org
                    div 11 ะก10 Stadionstraat, Breda,
                    div Netherlands, 4815NC
            .col-md-7
                #map