.header
    .header-container
        .header-left
            a(href="http://bankexfoundation.org/")
                img(src='images/logos/bankex-foundation-lo.png')
        .header-center
            ul.menu-list
                li
                    a About
                li
                    a Projects
                li
                    a Hiring
                li
                    a Team
                li
                    a News
                li
                    a Contact Us
                li
                    a Join Us
                li
                    a Github
        .header-right
            .header-right-container
                .right-langs
                    .right-langs-lang
                        a EN
                    .right-langs-lang
                        a RU
