.header
    .header-container
        .header-left
            a(href="http://bankexfoundation.org/")
                img(src='images/logos/bankex-foundation-lo.png')
        .header-center
            ul.menu-list
                li
                    a.page-scroll(href='#about-us') About
                li
                    a.page-scroll(href='#projects') Projects
                li
                    a.page-scroll(href='#we-are-hiring') Hiring
                li
                    a.page-scroll(href='#team') Team
                li
                    a.page-scroll(href='#news') News
                li
                    a.page-scroll(href='#contact-us') Contact Us
                li
                    a(href='https://bankexfoundation.org/alliance', target='_blank') Join Us
                li
                    a(href='https://github.com/BANKEX', target='_blank') Github
        .header-right
            .header-right-container
                .right-langs
                    .right-langs-lang
                        a EN
                    .right-langs-lang
                        a RU
