.main-tutorial.scrollme.intro
    .scrollme.introduction
        .bg
            .home-slider.container

                .t-table
                    .cell
                        .container
                            .wrapper
                                div
                                    div Do not let Blockchain
                                    div Block you or Chain you!
                                div Bringing Blockchain to Everyday Life
                .t-table
                    .cell
                        .container
                            .wrapper
                                div BANKEX Foundation School
                                div The first fundamental school on the blockade
                                div
                                    a(href='http://bankexfoundation.org/school') Read more
                .t-table
                    .cell
                        .container
                            .wrapper
                                div Research Hackathon
                                div First research hackathon on blockchain on May 19-20, 2018
                                div
                                    a(href='http://bankexfoundation.org/hackathon') Read more

        .arrow.arrow-left.prev
            .arrow-container
                <svg style="display: block" viewBox="0 0 17.3 33" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <style type="text/css"> .arrow polyline { -webkit-transition: stroke ease-in-out .2s; -moz-transition: stroke ease-in-out .2s; -o-transition: stroke ease-in-out .2s; transition: stroke ease-in-out .2s; } .arrow:hover polyline { stroke: #00b700 !important; } </style>
                <desc>Left</desc> <polyline fill="none" stroke="#ffffff" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 16.5,16.5 0.5,32.5"></polyline> </svg>
        .arrow.arrow-right.next
            .arrow-container
                <svg style="display: block" viewBox="0 0 17.3 33" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <style type="text/css"> .arrow polyline { -webkit-transition: stroke ease-in-out .2s; -moz-transition: stroke ease-in-out .2s; -o-transition: stroke ease-in-out .2s; transition: stroke ease-in-out .2s; } .arrow:hover polyline { stroke: #00b700 !important; } </style>
                <desc>Left</desc> <polyline fill="none" stroke="#ffffff" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 16.5,16.5 0.5,32.5"></polyline> </svg>
