#news.main-content
    .container
        .row
            .col-md-10.col-md-offset-1
                .title NEWS
        .row
            //.col-md-6.news-item
            //    a(href='http://bankexfoundation.org/hackathon')
            //        .wrapper
            //            #proof-of-skill.bg-img
            //            .overlay
            //            .text
            //                .content
            //                    .title Proof-of-Skill
            //                    .description First Blockchain Research Hackathon, May 2018
            //                .btn-container
            //                    .btn Read more
            //.col-md-6.news-item
            //    a(href='https://www.ccn.com/bankex-plasma-protocol-reports-22k-transactions-per-second/')
            //        .wrapper
            //            #plasma-protocol.bg-img
            //            .overlay
            //            .text
            //                .content
            //                    .title BANKEX Plasma Protocol
            //                    .description Reports 22k Transactions per Second
            //                .btn-container
            //                    .btn Read more