#ourNewsletter.main-content
    .container
        .row
            .col-md-8.col-md-offset-2.text-center
                .title Sign up to our newsletter
                input(placeholder='Your E-mail')
                button Sign Up

    .bg
    .overlay