#projects.main-content
    .container
        .row
            .col-md-12
                hr
                .title.animate Projects
        .items
            .row
                .col-md-6.text-center.animate
                    img(src='images/care.svg')
                    .heading
                        a(href='https://opencharity.io', target='_blank') Open Charity
                    .description
                        include ../content/projects/open-charity.md
                .col-md-6.text-center.animate
                    img(src='images/school-material.svg')
                    .heading
                        a(href='http://bankexfoundation.org/school', target='_blank') Education
                    .description
                        include ../content/projects/education.md
            .row
                .col-md-6.text-center.animate
                    img(src='images/molecule.svg')
                    .heading Plasma Protocol
                    .description
                        include ../content/projects/plasma-protocol.md
                .col-md-6.text-center.animate
                    img(src='images/rocket.svg')
                    .heading Coming Soon...
                    .description
                        include ../content/projects/coming-soon.md
