#structure.main-content
    .container(get-content='structure.md')
        .row
            .col-md-10.col-md-offset-1
                .title.animate
                .description.animate
        .row
            .col-md-12
                img.img-responsive.animate(src="images/structure.svg")
                .links.hidden-xs
                    .col-xs-4
                        a(href='https://bankexfoundation.org/school/') bankexfoundation.org/school
                    .col-xs-4
                        a(href='https://bankexfoundation.org/school/') bankexfoundation.org
                    .col-xs-4
                        a(href='href="https://opencharity.io') opencharity.io
