#structure.main-content
    .container
        .row
            .col-md-10.col-md-offset-1
                .title.animate BANKEX FOUNDATION STRUCTURE
                .description.animate We work in several directions to achieve our goal:
        .row
            .col-md-12
                img.img-responsive.animate(src="images/structure.svg")
                .links
                    .col-xs-4
                        a(href='https://bankexfoundation.org/school/') bankexfoundation.org/school
                    .col-xs-4
                        a(href='https://bankexfoundation.org/school/') bankexfoundation.org
                    .col-xs-4
                        a(href='href="https://opencharity.io') opencharity.io
