#team.main-content
    .container
        .row
            .col-md-6.col-md-offset-3
                .title.animate Team
                .description.animate The smartest people work every day to provide the best service and to make our clients happy
        .row