#team.main-content
    .container
        .row
            .col-md-6.col-md-offset-3
                .title.animate Team
                .description.animate The smartest people work every day to provide the best service and to make our clients happy
        .row
            #petrKorolev.col-md-4.col-xs-6.animate
                .team-item
                    .image
                    .name Petr Korolev
                    .desc Head of the Development Team and founder (CEO)
                    .line
                    ul
                        li Development Team 10+ years experience in software development (Evernote, Intel, Mail.Ru Group), MSc in Solid-State Physics
                        li Experience in building the architecture for:
                            ul
                                li an anonymous end-to-end encrypted secure browser
                                li a distributed encryption system
                                li banking mobile applications
                                li security audit
                        li Author of 3 open-source libraries:
                            ul
                                li github-changelog-generator (~4.5k stars)
                                li ActionSheetPicker-3.0 (~3k stars)
                                li GaugeKit (~1k stars)
            #sashaVlasov.col-md-4.col-xs-6.animate
                .team-item
                    .image
                    .name Sasha Vlasov
                    .desc Blockchain developer and System Architect (CTO)
                    .line
                    ul
                        li PhD in Electrical Engineering, MSc in High Energy Physics Founder of feeasy.me (fintech start-up for P2P payments)
                        li Research at DESY and Fermilab
                        li 5+ years in software development: Blockchain, Backend, Mobile Frontend (iOS)

            .clearfix.visible-xs.visible-sm.visible-md
            #igorGulamov.col-md-4.col-xs-6.animate
                .team-item
                    .image
                    .name Igor Gulamov
                    .desc VP Engineering
                    .line
                    ul
                        li MSc in Theoretical Physics (Moscow State University)
                        li 10+ years in software development
                        li 7+ years as IT entrepreneur
                        li Launched several independent startups
                        li Co-founder and CTO in Coin32 (until to the 2014) and InstallBundle
            .clearfix.visible-lg
            #mariaDavletshina.col-md-4.col-xs-6.animate
                .team-item
                    .image
                    .name Maria Davletshina
                    .desc Business Development Manager
                    .line
                    ul
                        li Currently is getting her PhD in Psychology at the Higher School of Economics
                        li 7+ years of experience in conducting large multidisciplinary scientific projects. Participant of international conferences and author of many articles in peer-reviewed scientific journals
                        li 5+ years of experience in international and local charitable organizations
                        li 3+ years of experience in behavioral therapy with special children
            .clearfix.visible-xs.visible-sm.visible-md
            #romaSemenov.col-md-4.col-xs-6.animate
                .team-item
                    .image
                    .name Roma Semenov
                    .desc Project development and server administration
                    .line
                    ul
                        li MSc in Quantum Physics and Field Theory
                        li Founder of 2 startups
                        li Experience in high-load systems architecture
                        li 10+ years experience in software development