extends layout

block vars
    - var title='Bankex Foundation Alliance'

block content
    include includes/alliance/header
    include includes/alliance/intro
    include includes/alliance/form
    include includes/footer
