extends layout

block vars
    - var title='Bankex Foundation'

block content
    include includes/header

    include includes/intro
    include includes/about-us
    include includes/structure
    include includes/projects
    include includes/news
    include includes/hiring
    include includes/team
    include includes/newsletter
    include includes/contact-us

    include includes/footer
