extends layout

block vars
    - var title='Bankex Foundation'

block content
    .indicator
    .header
        .header-container
            .header-left
                a(href="http://bankexfoundation.org/")
                    img(src='images/logos/bankex-foundation-lo.png')
            .header-center
                ul.menu-list
                    li
                        a About
                    li
                        a Projects
                    li
                        a Hiring
                    li
                        a Team
                    li
                        a News
                    li
                        a Contact Us
                    li
                        a Join Us
                    li
                        a Github
            .header-right
                .header-right-container
                    .right-langs
                        .right-langs-lang
                            a EN
                        .right-langs-lang
                            a RU

    .main-tutorial.scrollme.intro
        .scrollme.introduction
            .bg
                .home-slider.container

                    .t-table
                        .cell
                            .container
                                .wrapper
                                    div
                                        div Do not let Blockchain
                                        div Block you or Chain you!
                                    div Bringing Blockchain to Everyday Life
                    .t-table
                        .cell
                            .container
                                .wrapper
                                    div BANKEX Foundation School
                                    div The first fundamental school on the blockade
                                    div
                                        a(href='http://bankexfoundation.org/school') Read more
                    .t-table
                        .cell
                            .container
                                .wrapper
                                    div Research Hackathon
                                    div First research hackathon on blockchain on May 19-20, 2018
                                    div
                                        a(href='http://bankexfoundation.org/hackathon') Read more

            .arrow.arrow-left.prev
                .arrow-container
                    <svg style="display: block" viewBox="0 0 17.3 33" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <style type="text/css"> .arrow polyline { -webkit-transition: stroke ease-in-out .2s; -moz-transition: stroke ease-in-out .2s; -o-transition: stroke ease-in-out .2s; transition: stroke ease-in-out .2s; } .arrow:hover polyline { stroke: #00b700 !important; } </style>
                    <desc>Left</desc> <polyline fill="none" stroke="#ffffff" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 16.5,16.5 0.5,32.5"></polyline> </svg>
            .arrow.arrow-right.next
                .arrow-container
                    <svg style="display: block" viewBox="0 0 17.3 33" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <style type="text/css"> .arrow polyline { -webkit-transition: stroke ease-in-out .2s; -moz-transition: stroke ease-in-out .2s; -o-transition: stroke ease-in-out .2s; transition: stroke ease-in-out .2s; } .arrow:hover polyline { stroke: #00b700 !important; } </style>
                    <desc>Left</desc> <polyline fill="none" stroke="#ffffff" stroke-linejoin="butt" stroke-linecap="butt" stroke-width="1" points="0.5,0.5 16.5,16.5 0.5,32.5"></polyline> </svg>

    #about-us.main-content
        .container
            .row
                .col-md-10.col-md-offset-1
                    .title About us
                    .description
                        div BANKEX Foundation aims to implement blockchain into our everyday practice, making the world a more open, transparent and honest place.
                        br
                        div All our engineering is open-source, as we invite the community to participate, develop our technology and find new ways to apply it.
                    .video
                        <iframe id="youtubeiframe44869237" width="100%" height="100%" src="//www.youtube.com/embed/HVFqoQoTdLg?t=24s?rel=0&amp;fmt=18&amp;html5=1&amp;showinfo=0" frameborder="0" allowfullscreen="" style="height: 540px;"></iframe>

    #structure.main-content
        .container
            .row
                .col-md-10.col-md-offset-1
                    .title.animate BANKEX FOUNDATION STRUCTURE
                    .description.animate
                        div We work in several directions to achieve our goal:
                        br
                        ul
                            li Research and Development to perfect the technology
                            li Open Charity project to tokenize donations
                            li Blockchain Education to train the best blockchain engineers
            .row
                .col-md-12
                    img.img-responsive.animate(src="images/structure.png")
    #projects.main-content
        .container
            .row
                .col-md-12
                    hr
                    .title.animate Projects
            .items
                .row
                    .col-md-6.text-center.animate
                        img(src='images/care.svg')
                        .heading
                            a(href='https://opencharity.io', target='_blank') Open Charity
                        .description The "Open Charity" project will create a service for donations and charity with transparent transactions, where anyone can define the conditions via smart contract (such as the goals that the money is intended to fund) and monitor their execution. From a technical point of view, for the moment Open Charity is a money transfer system of tokens within the charity with additional rules (trust system for using amounts of a certain size, tags for different purposes of charity). For the future, the function of checking target expenditures is planned
                    .col-md-6.text-center.animate
                        img(src='images/school-material.svg')
                        .heading
                            a(href='http://bankexfoundation.org/school', target='_blank') Education
                        .description BANKEX Foundation Educational Program mainly consists of these series of educational courses:
                            ul
                                li Basic Blockchain and Ethereum course
                                li Advanced Blockchain and Ethereum course
                                li Distributed App development course
                            | We hope that about 5000 people will join them by the end of 2018. Also, throughout the year we are going to publish articles designed to explain cutting edge topics blockchain in simple words, and organize webinars aimed to help those who have just started their educational process to get the grasp of the blockchain technology

                .row
                    .col-md-6.text-center.animate
                        img(src='images/molecule.svg')
                        .heading Plasma Protocol
                        .description Plasma is a system that can solve the scalability problem of the Ethereum network and ensure the volume of transactions comparableto centralized systems such as Visa and Mastercard. Plasma is a separate unit with high performance, plus a smart contract system that connects it to the main Ethereum network. This makes it possible to combine the advantages of distributed systems such as the absence of intermediaries and the reliability of transactions with the high speed and low commission of centralized systems
                    .col-md-6.text-center.animate
                        img(src='images/rocket.svg')
                        .heading Coming Soon...
                        .description First and only up-to-date implementation of the Web3 protocol for interacting with smart contracts via mobile devices. Bankex Foundation has long-term plans for Web3swift development such as browser integration for full support of Dapps and integration with light client for the Ethereum network itself, so that a mobile device is a stand-alone member of the network. We believe that an iOS device with the latest firmware, security updates anddevice encryption is the best and the most convenient way for end users to store their funds and quickly and seamlessly interact with Ethereum
    #news.main-content
        .container
            .row
                .col-md-10.col-md-offset-1
                    .title NEWS
            .row
                .col-md-6.news-item
                    a(href='http://bankexfoundation.org/hackathon')
                        .wrapper
                            #proof-of-skill.bg-img
                            .overlay
                            .text
                                .content
                                    .title Proof-of-Skill
                                    .description First Blockchain Research Hackathon, May 2018
                                .btn-container
                                    .btn Read more
                .col-md-6.news-item
                    a(href='https://www.ccn.com/bankex-plasma-protocol-reports-22k-transactions-per-second/')
                        .wrapper
                            #plasma-protocol.bg-img
                            .overlay
                            .text
                                .content
                                    .title BANKEX Plasma Protocol
                                    .description Reports 22k Transactions per Second
                                .btn-container
                                    .btn Read more
    #we-are-hiring.main-content
        .container
            .row
                .col-md-8.col-md-offset-2
                    .title We are hiring:
                    ul
                        li Senior Solidity developer
                        li Senior iOS developer
                        li TeamLead Node.JS
                        li Node.JS developer
                        li Middle and Junior developers
                        li Blockchain scientist
                        li Cryptographer
                        li Technical writer
                        li Intern with technical background
                    .btn-container
                        .text-center
                            <svg class="t580__arrow-icon " style="fill:#c9c9c9; " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 180"><path d="M54.1 109c-.8 0-1.6-.4-2-1.1-.8-1.1-.5-2.7.6-3.5 1.3-.9 6.8-4 11.6-6.6-15.9-1.3-29.2-8.3-38.5-20.2C8.9 56 8.5 24.1 13.2 3.4c.3-1.3 1.7-2.2 3-1.9 1.3.3 2.2 1.7 1.9 3-4.5 19.6-4.2 49.8 11.6 70 9 11.5 21.5 17.7 37.2 18.4l-1.8-2.3c-1.4-1.7-2.7-3.4-4.1-5.1-.7-.9-1.5-1.9-2.3-2.9-.9-1.1-.7-2.6.4-3.5 1.1-.9 2.6-.7 3.5.4 0 0 0 .1.1.1l6.4 7.9c.5.5.9 1.1 1.4 1.7 1.5 1.8 3.1 3.6 4.4 5.6 0 .1.1.1.1.2.1.3.2.5.3.8v.6c0 .2-.1.4-.2.6-.1.1-.1.3-.2.4-.1.2-.3.4-.5.6-.1.1-.3.2-.5.3-.1 0-.1.1-.2.1-1.2.6-16 8.6-18.1 10-.5.5-1 .6-1.5.6z"></path></svg>
                            <svg class="t580__arrow-icon_mobile" style="fill:#c9c9c9;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 70"><path d="M31.5 47c-1.1-.9-2.7-.7-3.5.4L20.2 57V5.8c0-1.4-1.1-2.5-2.5-2.5s-2.5 1.1-2.5 2.5V57l-7.8-9.7c-.8-1-2.4-1.2-3.5-.3-1.1.9-1.2 2.4-.4 3.5l12.2 15.2c.5.6 1.2.9 1.9.9s1.5-.3 1.9-.9l12.2-15.2c1-1.1.9-2.6-.2-3.5z"></path></svg>
                            a(href='https://docs.google.com/forms/d/1KIvsTdVOQazOiBuJwL173Id7QB4v6EKO-Au8bGOeftA/viewform?edit_requested=true', target='_blank')
                                div Go!
    #team.main-content
        .container
            .row
                .col-md-6.col-md-offset-3
                    .title.animate Team
                    .description.animate The smartest people work every day to provide the best service and to make our clients happy
            .row
                #petrKorolev.col-md-4.col-xs-6.animate
                    .team-item
                        .image
                        .name Petr Korolev
                        .desc Head of the Development Team and founder (CEO)
                        .line
                        ul
                            li Development Team 10+ years experience in software development (Evernote, Intel, Mail.Ru Group), MSc in Solid-State Physics
                            li Experience in building the architecture for:
                                ul
                                    li an anonymous end-to-end encrypted secure browser
                                    li a distributed encryption system
                                    li banking mobile applications
                                    li security audit
                            li Author of 3 open-source libraries:
                                ul
                                    li github-changelog-generator (~4.5k stars)
                                    li ActionSheetPicker-3.0 (~3k stars)
                                    li GaugeKit (~1k stars)
                #sashaVlasov.col-md-4.col-xs-6.animate
                    .team-item
                        .image
                        .name Sasha Vlasov
                        .desc Blockchain developer and System Architect (CTO)
                        .line
                        ul
                            li PhD in Electrical Engineering, MSc in High Energy Physics Founder of feeasy.me (fintech start-up for P2P payments)
                            li Research at DESY and Fermilab
                            li 5+ years in software development: Blockchain, Backend, Mobile Frontend (iOS)

                .clearfix.visible-xs.visible-sm.visible-md
                #igorGulamov.col-md-4.col-xs-6.animate
                    .team-item
                        .image
                        .name Igor Gulamov
                        .desc VP Engineering
                        .line
                        ul
                            li MSc in Theoretical Physics (Moscow State University)
                            li 10+ years in software development
                            li 7+ years as IT entrepreneur
                            li Launched several independent startups
                            li Co-founder and CTO in Coin32 (until to the 2014) and InstallBundle
                .clearfix.visible-lg
                #mariaDavletshina.col-md-4.col-xs-6.animate
                    .team-item
                        .image
                        .name Maria Davletshina
                        .desc Business Developer
                        .line
                        ul
                            li Currently is getting her PhD in Psychology at the Higher School of Economics
                            li 7+ years of experience in conducting large multidisciplinary scientific projects. Participant of international conferences and author of many articles in peer-reviewed scientific journals
                            li 5+ years of experience in international and local charitable organizations
                            li 3+ years of experience in behavioral therapy with special children
                .clearfix.visible-xs.visible-sm.visible-md
                #romaSemenov.col-md-4.col-xs-6.animate
                    .team-item
                        .image
                        .name Roma Semenov
                        .desc Project development and server administration
                        .line
                        ul
                            li MSc in Quantum Physics and Field Theory
                            li Founder of 2 startups
                            li Experience in high-load systems architecture
                            li 10+ years experience in software development
    #ourNewsletter.main-content
        .container
            .row
                .col-md-8.col-md-offset-2.text-center
                    .title Sign up to our newsletter
                    input(placeholder='Your E-mail')
                    button Sign Up

        .bg
        .overlay
    #contact-us.main-content
        .container
            .row
                .col-md-5
                    .title Contact Us
                    .description
                        a(href='mailto:info@bankexfoundation.org') info@bankexfoundation.org
                        div 11 ะก10 Stadionstraat, Breda,
                        div Netherlands, 4815NC
                .col-md-7
                    #map
    include includes/footer
