---
---

//
// IMPORTS
//

@import "css/app.min.css";

#main {
  margin-top: 150px;
}

.header-logo {
  height: auto !important;

  li a {
    color: #000 !important;
  }

  @media screen and (max-width: 980px) {
    & {
      position: relative !important;
    }
  }
}

.main-content {
  padding-top: 20px;
  padding-bottom: 20px;

  .news-item {
    height: auto;
  }

  .title {
    a {
      color: #000000;
      text-decoration: none !important;
    }
  }

  img {
    width: 100%;
  }
}